
doc/doc\.aux

doc/doc\.bbl

doc/doc\.bcf

doc/doc\.blg

doc/doc\.log

doc/doc\.out

doc/doc\.run\.xml

doc/doc\.synctex\.gz

doc/doc\.toc

doc/fluid\.bib

__pycache__/fluid_functions\.cpython-36\.pyc
